body 
{
 background-color: #F1EFEE;
  color:hotpink; 
  font-family: Verdana; font-size: 28px;
  text-align: center;
  height: 100%;
  background-image:url(images/light_pink_sky.jpg);height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 .gallery
 {
   margin: 10px 50px;  
 }

.gallery img
{
    width: 210px;
    padding: 0px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover
{
    filter: grayscale(0);
    transform: scale(2.1);
}